
    
    
## <H2 align="center"> <font color='white'> **MAF1731B**: Microstructure and Trading Systems </H2>

### <H3 align="center"> <font color='white'> **Project: EUR/USD** Behavior during Initial Jobless Claims statements </H3>

 <H5 align="center"> <em> Professor: Villalobos Ramos Omar Antonio <em>

 <p align="center"> <img style=" margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="350" height="150" /> 

 <strong> <H5 align="left"> Student:
Esteban MÃ¡rquez Delgado <strong>

 *Registry*:
if700637: https://github.com/EstebanMqz/MyST_Project

 <center> <font color= #555555> <font size = 4> November 2022 </a> <font color= #555555> <font size = 4> </a></font>

<hr style="border:0.02in solid gray"> </hr>

<center> <font color= #555555> <font size = 6> Project </font> <br> <br> <font color= #555555> <font size = 5> 
Project 1: Fundamental Analysis </font>

<hr style="border:0.02in solid gray"> </hr>

### <font color= #555555> <font size = 4> Abstract </font>

This document was prepared as Final Project for Microstructure and Trading Systems - MAF1731B class during the Autumn 2022 course at ITESO for the Bachelor of Financial Engineering. 

It has the following sections:

1. *Description*.

2. *Description*.

3. *Description*.

<font color= lightblue> <font size = 4> 0. Libraries and Dependencies: </font>

<font color= gray>

**Note**: To run this notebook it is necessary to have the following libraries contained in the [requirements.txt](https://github.com/EstebanMqz/MyST_LAB_4/blob/main/requirements.txt) script of this project.

To install the libraries in the script run the following cell:

In [ ]:
!pip install -r requirements.txt

If you prefer, manual installation can be done with the individual installation of the following libraries:

<font color= lightblue> <font size = 1> 
+ pandas >= 1.3.4
+ numpy >= 1.19.1
+ jupyter >= 1.0.0
+ chart_studio >= 1.1
+ plotly >= 4.14
+ logging >= 3.11
+ datetime >= 4.7
+ pandas_datareader >= 0.10.0
+ tk >= 0.10
+ random >= 3.11
+ plotly >= 5.60
+ yahoofinancials >= 1.60
+ scipy >= 1.7.3
+ regex >= 2022.3.15
+ matplotlib >= 3.5.1
+ fire >= 0.4.0
+ ccxt >= 2.1.33
+ time >= 3.11

### <font color= lightblue> <font size = 4> 0.1 Introduction: </font>
*Description*.
<font color= gray>

##### *General help:*
<font color= lightgreen> **Note**: Progress checks in sections highlighted. <font color= white>

In order, to retrieve specific help from the scripts tree in the project execute the help function on the script or in specific modules from the following:
+ [data.py](https://github.com/EstebanMqz/MyST_Project/blob/main/data.py)
+ [functions.py](https://github.com/EstebanMqz/MyST_Project/blob/main/functions.py)
+ [visualizations.py](https://github.com/EstebanMqz/MyST_Project/blob/main/visualizations.py)

In [1]:
## Libraries
import pandas as pd # Analysis and data management
import pandas_datareader as pdr
import pandas_datareader.data as web #Data extraction from the web
import numpy as np
from datetime import datetime, timedelta, date
import datetime
from tkinter.ttk import Style
from tkinter import Y
import random as rand
import plotly.graph_objects as go #Plotly
import plotly.express as px
import warnings
from yahoofinancials import YahooFinancials # Yfinance 
import warnings
import yfinance as yf
import ccxt #Criptocurrencies
import logging as log #Exchanges 
from scipy.optimize import minimize # Optimization 
from collections import Counter #Counter
import time
import re
import io 
import glob
import os
#.Py archives in repo
import functions as fn 
import visualizations as vs
import data as dt
from os import path
import fire
import MetaTrader5 as mt5
import pytz
%matplotlib inline

c:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

<font color= orange> <font size = 5> 1. Section 1 </font>

In [8]:
help(dt.read_indicator)

Help on function read_indicator in module data:

read_indicator(indicator, date)
    Function that reads a .csv or .txt file contaning data
    of economic indicators Actual, Previous and Consensus estimates.

    Parameters
    ----------
    + indicator: Economic indicator contained in files with Datetime,
    Actual, Previous and Consensus estimates values in cols (string).
    + date: start_date for data extraction of given indicator ('YYYY-MM-DD').
    -------
    Returns: Historic data with Datetime, Actual, Previous and Consensus
    estimates values in cols. (dataframe).

In [3]:
date = '2018-01-01'
data_raw=dt.read_indicator('Initial_Jobless_Claims_US.txt', date)
data_raw.head()

             DateTime  Actual  Consensus  Previous
0 2020-02-06 13:30:00   202.0      215.0     216.0
1 2020-01-30 13:30:00   216.0      215.0     211.0
2 2020-01-23 13:30:00   211.0      215.0     204.0
3 2020-01-16 13:30:00   204.0      216.0     214.0
4 2020-01-09 13:30:00   214.0      220.0     222.0

In [4]:
data_raw.tail()

               DateTime  Actual  Consensus  Previous
105 2018-02-01 13:30:00   230.0      238.0     233.0
106 2018-01-25 13:30:00   233.0      240.0     220.0
107 2018-01-18 13:30:00   220.0      250.0     261.0
108 2018-01-11 13:30:00   261.0      245.0     250.0
109 2018-01-04 13:30:00   250.0      240.0     245.0

In [9]:
help(dt.fx_rate)

Help on function fx_rate in module data:

fx_rate(pairs, account, pw)
    Function that download exchange rates data with MetaTrader 5 api.

    Parameters
    ----------
    + indicator: Economic indicator with Datetime, Actual, Previous and
    Consensus estimates values in cols. for its data.
    + date: start_date for data extraction of given indicator.
    -------
    Returns: Historic data with OHCLV, spread, real_volume cols. (dataframe).

In [5]:
pairs, account, pw = 'EURUSD', 64225494, 'movz2vvi'
EURUSD = dt.fx_rate(pairs, account, pw)
EURUSD.head()

,time,open,high,low,close,tick_volume,spread,real_volume
0,2018-01-02 00:00:00,1.20088,1.20094,1.20007,1.20058,107,18,0
1,2018-01-02 00:30:00,1.20058,1.20153,1.20058,1.20135,292,18,0
2,2018-01-02 01:00:00,1.20118,1.20145,1.20045,1.20129,1044,18,0
3,2018-01-02 01:30:00,1.20130,1.20143,1.20087,1.20098,630,18,0
4,2018-01-02 02:00:00,1.20087,1.20159,1.20083,1.20137,277,16,0

In [6]:
EURUSD.tail()

,time,open,high,low,close,tick_volume,spread,real_volume
26797,2020-02-28 21:30:00,1.10036,1.10327,1.09926,1.10295,3585,1,0
26798,2020-02-28 22:00:00,1.10293,1.10400,1.10252,1.10396,2251,1,0
26799,2020-02-28 22:30:00,1.10396,1.10460,1.10333,1.10378,2519,1,0
26800,2020-02-28 23:00:00,1.10378,1.10429,1.10244,1.10310,1182,1,0
26801,2020-02-28 23:30:00,1.10310,1.10398,1.10266,1.10293,748,1,0

<font color= orange> <font size = 5> 2. Section 2 </font>

<font color= orange> <font size = 5> 3. Section 3 </font>

### <font color= orange> <font size = 5> 4. Bibliography: </font>

<font color= lightgray>

+ Villalobos, O, 2021. **Python Project Template**. Available at: https://github.com/OmarVillalobos/python-project. 
(Accessed: November 5, 2022).